[Install]
WantedBy=multi-user.target

[Unit]
Description=Hostname rename to sda SerialNumber
After=network.target

[Service]
Type=forkingsas
ExecStart=/usr/bin/sas.sh start
